<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.percy.qplayproject" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Qplay"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Splash"
            android:label="Qplay"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginInterface"
            android:label="Splash"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ActivityList"
            android:label="@string/title_activity_activity_list"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".ActivityList" />
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".UserActivitylist"
            android:label="@string/title_activity_user_activitylist"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".otheruseractivity"
            android:label="@string/title_activity_otheruseractivity"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".otheruserprofile"
            android:label="@string/title_activity_otheruserprofile"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
